<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>

    {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}">
    {{ end }}

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
</head>
