<div class="display">
    <h2>Server Reply</h2>

    <span class="technology python-pill">python</span>
    <span class="technology golang-pill">golang</span>
    <span class="technology javascript-pill">javascript</span>
    <span class="technology vue-pill">vue</span>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deserunt dolore doloribus eveniet fugit ipsam,
        magnam magni natus omnis provident quam quia quis reiciendis repellat sit suscipit, ullam veniam vitae.
    </p>
</div>

<div class="modal">
    <h2>Server Reply</h2>
    <h3>Overview</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, autem cum dicta eligendi enim esse facilis illo
        in labore laborum molestias, nihil odio provident rem veniam vitae voluptas. Accusantium, dolorum?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, autem cum dicta eligendi enim esse facilis illo
        in labore laborum molestias, nihil odio provident rem veniam vitae voluptas. Accusantium, dolorum?
    </p>

    <h3>Features</h3>
    <ul>
        <li>Do thing 1</li>
        <li>Do thing 2</li>
        <li>Do thing 3</li>
    </ul>
</div>



