<section class="skills">
    <h1>Skills</h1>
    <ul>
        <li>
            knowledge and application of the most popular software developing methodologies such as Scrum and Kanban.
        </li>
        <li>
            Use of several languages such as Go, Java, Python and Javascript to bring into reality different ideas.
        </li>
    </ul>

    <h1>Around the web</h1>

    <ul class="list-inline">
        <li>
            <a href="https://stackoverflow.com/users/734524/andr%C3%A9s" class="btn-social btn-outline">
                <i class="fab fa-stackoverflow"></i>
            </a>
        </li>
        <li>
            <a href="https://gitlab.com/afruizc" class="btn-social btn-outline">
                <i class="fab fa-gitlab"></i>
            </a>
        </li>
        <li>
            <a href="https://dribbble.com/afruizc" class="btn-social btn-outline">
                <i class="fab fa-dribbble"></i>
            </a>
        </li>
    </ul>
</section>